@use "styles/parameters";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    nav {
        display: flex;
        background-color: rgb(207, 146, 207);
        justify-content: space-between;
        .menu {
            #botMenu {
                display: none;
            }
            label {
                display: none;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                li {
                    border-right: 1px solid whitesmoke;
                    padding: 10px 0;
                    a {
                        text-decoration: none;
                        cursor: default;
                        padding: 10px 20px;
                        color: whitesmoke;
                    }
                    &:hover {
                        background: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .logo {
            color: whitesmoke;
            padding: 10px 20px;
        }
    }
}

main {
    background: whitesmoke;
    margin: 2% 6%;
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template: repeat(4, 1fr) / 45% 45%;
    .gusto {
        background: rgba(255, 255, 255, 0.9);
        display: grid;
        grid-template: 1fr / minmax(20%, 100px) minmax(min-content, max-content) 6% 1%;
        grid-template-areas: "foto box cucharita .";
        align-items: center;
        gap: 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        .foto {
            grid-area: foto;
            @include parameters.foto;
            padding: 6px 6px;
            // width: 100px;
            height: 200px;
        }
        .box {
            grid-area: box;
            @include parameters.box;
            // max-width: 60%;
            height: 200px;
            display: flex;
            align-content: center;
            align-items: center;
        }
        .cucharita {
            grid-area: cucharita;
            @include parameters.cucharita;
            // width: 6%;
        }
    }
}

@media (max-width: 768px) {
    header {
        nav {
            .menu {
                #botMenu:checked ~ ul {
                    left: 0;
                }
                label {
                    display: block;
                    color: whitesmoke;
                    padding: 15px;
                }
                ul {
                    background-color: rgb(207, 146, 207);
                    flex-direction: column;
                    width: 60%;
                    position: absolute;
                    left: -60%;
                    transition: all 0.7s;
                    li {
                        border-right: 0;
                        border-top: 1px solid whitesmoke;
                        padding: 15px 0;
                        a {
                            padding: 0 15px;
                        }
                    }
                }
            }
            // .logo{

            // }
        }
    }
}
