img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img_1 {
  background-image: url("../img/americana.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_2 {
  background-image: url("../img/blueberry.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_3 {
  background-image: url("../img/dulce-leche.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_4 {
  background-image: url("../img/frutilla.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_5 {
  background-image: url("../img/granizado.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_6 {
  background-image: url("../img/menta.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_7 {
  background-image: url("../img/vainilla.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

#img_8 {
  background-image: url("../img/frutilla-chips.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

.optionActive {
  background: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

header nav {
  display: flex;
  background-color: rgb(207, 146, 207);
  justify-content: space-between;
}
header nav .menu #botMenu {
  display: none;
}
header nav .menu label {
  display: none;
}
header nav .menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
header nav .menu ul li {
  border-right: 1px solid whitesmoke;
  padding: 10px 0;
}
header nav .menu ul li a {
  text-decoration: none;
  cursor: default;
  padding: 10px 20px;
  color: whitesmoke;
}
header nav .menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}
header nav .logo {
  color: whitesmoke;
  padding: 10px 20px;
}

main {
  background: whitesmoke;
  margin: 2% 6%;
  width: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template: repeat(4, 1fr)/45% 45%;
}
main .gusto {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
main .gusto .foto, main .gusto .foto--editActive, main .gusto .foto--editInactive {
  padding: 6px 6px;
  width: 100px;
  height: 200px;
}
main .gusto .box, main .gusto .box--editActive, main .gusto .box--editInactive {
  max-width: 60%;
  height: 200px;
  display: flex;
  align-content: center;
  align-items: center;
}
main .gusto .box--editInactive .nombre {
  display: block;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  color: cadetblue;
}
main .gusto .box--editInactive input {
  display: none;
}
main .gusto .box--editActive .nombre {
  display: none;
}
main .gusto .box--editActive input {
  display: block;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  color: cadetblue;
  border: none;
  outline: none;
}
main .gusto .cucharita, main .gusto .cucharita--editActive, main .gusto .cucharita--sinGusto, main .gusto .cucharita--editInactive {
  width: 6%;
}
main .gusto .cucharita--editInactive {
  color: dodgerblue;
  text-align: right;
  font-size: xx-large;
}
main .gusto .cucharita--sinGusto {
  color: red;
}
main .gusto .cucharita--editActive {
  color: yellow;
  transition: color 4s 1s;
}

@media (max-width: 768px) {
  header nav .menu #botMenu:checked ~ ul {
    left: 0;
  }
  header nav .menu label {
    display: block;
    color: whitesmoke;
    padding: 15px;
  }
  header nav .menu ul {
    background-color: rgb(207, 146, 207);
    flex-direction: column;
    width: 60%;
    position: absolute;
    left: -60%;
    transition: all 0.7s;
  }
  header nav .menu ul li {
    border-right: 0;
    border-top: 1px solid whitesmoke;
    padding: 15px 0;
  }
  header nav .menu ul li a {
    padding: 0 15px;
  }
}/*# sourceMappingURL=styles.css.map */